.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;

  /* 평소에는 숨겨지게 하는 법 */
  display: none;
}

.list-group {
  display: none;
}

.show {
  display: block;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  /* display: none; */
  /* display: none; 은 아예 숨김 애니매이션 쓸 때는 아래 */
  visibility: hidden;
  /* 투명도 */
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}