/* 부트스트랩을 사용하면 강제로 스크롤바가 스무스해지는데 아래처럼 쓰면 그것을 초기화해줌
:root {
  scroll-behavior: auto;
} */

.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;

  /* 평소에는 숨겨지게 하는 법 */
  display: none;
}

.list-group {
  display: none;
}

.show {
  display: block;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  /* display: none; */
  /* display: none; 은 아예 숨김 애니매이션 쓸 때는 아래 */
  visibility: hidden;
  /* 투명도 */
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

.down-modal {
  display: none;
}

.main-bg {
  padding: 100px 20px;
  background-color: lightgrey;
}

/* .dark {
  background-color: black;
  color: white;
} */

.slide-container {
  width: 300vw;
  /* margin-left: -100vw; */
  transition: all 1s;
  /* transform: translateX(-100vw); */
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
}